<form>
    <div class="border-black border-2 border-b-0 p-1 flex h-10 w-full">
      <input
      type="color"
      [ngClass]="{ 'bg-black text-white': editor.isActive('setcolor') }"
      (input)="editor.chain().focus().setColor(($any($event.target).value)).run()"
      value="editor.getAttributes('textStyle').color"
      data-testid="setColor"
    />
    <button
    (click)="editor.chain().focus().toggleHighlight().run()"
    [ngClass]="{ 'bg-black text-white': editor.isActive('isActive') }"
  >
    Toggle highlight
  </button>
    <button (click)="addImage()"><ng-icon name="heroPhoto">Image</ng-icon></button>
      <button
      class="rounded h-7 flex justify-center items-center px-1"
      [ngClass]="{ 'bg-black text-white': editor.isActive('blockquote') }"
      (click)="editor.chain().focus().toggleBlockquote().run()"
    >
     blockquote
    </button>
    <button class="rounded h-7 flex justify-center items-center px-1"
    [ngClass]="{ 'bg-black text-white': editor.isActive('link') }" (click)="setLink()"><ng-icon name="heroLink">Link</ng-icon></button>
    <div className="button-group">
      <button
        [ngClass]="{ 'bg-black text-white': editor.isActive('underline') }"
        (click)="editor.chain().focus().toggleUnderline().run()"
      >
      <ng-icon name="heroCodeBracketSquare">Underline</ng-icon>
      </button>
    </div>
    <div className="button-group">
      <button
        (click)="editor.chain().focus().toggleSubscript().run()"
        [ngClass]="{ 'bg-black text-white': editor.isActive('subscript') }"
      >
        Toggle subscript
      </button>
      <button
        (click)="editor.chain().focus().setSubscript().run()"
        [ngClass]="{ 'bg-black text-white': editor.isActive('subscript') }"
      >
        Set subscript
      </button>
      <button
        (click)="editor.chain().focus().unsetSubscript().run()"
        [ngClass]="{ 'bg-black text-white': editor.isActive('subscript') }"
      >
        Unset subscript
      </button>
    </div>
    <div className="button-group">
      <button
        (click)="editor.chain().focus().toggleSuperscript().run()"
        [ngClass]="{ 'bg-black text-white': editor.isActive('superscript') }"
      >
        Toggle superscript
      </button>
      <button
        (click)="editor.chain().focus().setSuperscript().run()"
        [ngClass]="{ 'bg-black text-white': editor.isActive('superscript') }"
      >
        Set superscript
      </button>
      <button
        (click)="editor.chain().focus().unsetSuperscript().run()"
        [ngClass]="{ 'bg-black text-white': editor.isActive('superscript') }"
      >
        Unset superscript
      </button>
    </div>
    <button

      [ngClass]="{ 'bg-black text-white': editor.isActive('horizontalrule') }"
      (click)="editor.chain().focus().setHorizontalRule().run()"
    >
    HR
    </button>
    <button
    class="rounded h-7  flex justify-center items-center px-1"
      [ngClass]="{ 'bg-black text-white': editor.isActive('listitem') }"
      (click)="editor.chain().focus().toggleOrderedList().run()"
    >
    <ng-icon name="heroListBullet">List</ng-icon>
    </button>
      <button
        class="rounded h-7 w-7 flex justify-center items-center px-1"
        [ngClass]="{ 'bg-black text-white': editor.isActive('heading') }"
        (click)="editor.chain().focus().toggleHeading({ level: 2 }).run()"
      >
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="20" height="20" fill="currentColor">
          <path fill="none" d="M0 0H24V24H0z" />
          <path d="M13 20h-2v-7H4v7H2V4h2v7h7V4h2v16zm8-12v12h-2v-9.796l-2 .536V8.67L19.5 8H21z" />
        </svg>
      </button>
      <button
      class="rounded h-7 w-7 flex justify-center items-center px-1"
        [ngClass]="{ 'bg-black text-white': editor.isActive('bold') }"
        (click)="editor.chain().focus().toggleBold().run()"
      >
        <ng-icon name="heroBold">Bold</ng-icon>
      </button>
      <button
      class="rounded h-7  flex justify-center items-center px-1"
        [ngClass]="{ 'bg-black text-white': editor.isActive('strike') }"
        (click)="editor.chain().focus().toggleStrike().run()"
      >
       strike
      </button>

      <button
        [ngClass]="{ 'bg-black text-white': editor.isActive('italic') }"
        (click)="editor.chain().focus().toggleItalic().run()"
      >
      <ng-icon name="heroItalic">Italic</ng-icon>
      </button>
      <button

        [ngClass]="{ 'bg-black text-white': editor.isActive('paragraph') }"
        (click)="editor.chain().focus().setParagraph().run()"
      >
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="20" height="20" fill="currentColor">
          <path fill="none" d="M0 0h24v24H0z" />
          <path d="M12 6v15h-2v-5a6 6 0 1 1 0-12h10v2h-3v15h-2V6h-3zm-2 0a4 4 0 1 0 0 8V6z" />
        </svg>
      </button>
    </div>
    <div className="button-group">
      <button
        (click)="editor.chain().focus().setTextAlign('left').run()"
      >
      <ng-icon name="heroBars3BottomLeft">Left</ng-icon>
      </button>
      <button
        (click)="editor.chain().focus().setTextAlign('center').run()"
      >
      <ng-icon name="heroBars3">Center</ng-icon>
      </button>
      <button
        (click)="editor.chain().focus().setTextAlign('right').run()"
      >
      <ng-icon name="heroBars3BottomRight">Right</ng-icon>
      </button>
    </div>
    <div className="button-group">
      <button
        (click)="editor.chain().focus().toggleCode().run()"
        [ngClass]="{ 'bg-black text-white': editor.isActive('code') }"
      >
      <ng-icon name="heroCodeBracket">Code</ng-icon>
      </button>
    </div>
    <div className="button-group">
      <button
        (click)="editor.chain().focus().toggleCodeBlock().run()"
      >
      <ng-icon name="heroCodeBracketSquare">Code Block</ng-icon>
      </button>
    </div>
    <div className="button-group" *ngIf="editor.can().undo() || editor.can().redo()">
      <button (click)="editor.chain().focus().undo().run()" *ngIf="editor.can().undo()">
        Undo
      </button>
      <button (click)="editor.chain().focus().redo().run()" *ngIf="editor.can().redo()">
        Redo
      </button>
    </div>
    <tiptap-editor
      [editor]="editor"
      name="simple-editor"
      [ngModel]="value"
      (ngModelChange)="handleValueChange($event)"
    ></tiptap-editor>
    <div>{{editor.storage["characterCount"].characters()}} / {{characterLimit}} characters</div>
    <h1>HTML-Output:</h1>
    <p>{{ value }}</p>
</form>
