<form>
    <span class="border-black border-2 border-b-0 p-1 flex h-10 w-full">
      <input
      type="color"
      [ngClass]="{ 'bg-black text-white': editor.isActive('setcolor') }"
      (input)="editor.chain().focus().setColor(($any($event.target).value)).run()"
      value="editor.getAttributes('textStyle').color"
      data-testid="setColor"
    />
    <button
    (click)="editor.chain().focus().toggleHighlight().run()"
    [ngClass]="{ 'bg-black text-white': editor.isActive('isActive') }"
  >
  <ng-icon name="remixMarkPenLine">Highlight</ng-icon>
  </button>
    <button (click)="addImage()">
      <ng-icon name="remixFileImageLine">Image</ng-icon>
    </button>
    <button
      class="rounded h-7 flex justify-center items-center px-1"
      [ngClass]="{ 'bg-black text-white': editor.isActive('blockquote') }"
      (click)="editor.chain().focus().toggleBlockquote().run()"
    >
    <ng-icon name="remixQuoteText">Blockquote</ng-icon>
  </button>
    <button class="rounded h-7 flex justify-center items-center px-1"
    [ngClass]="{ 'bg-black text-white': editor.isActive('link') }" (click)="setLink()">
    <ng-icon name="remixLink">Link</ng-icon>
  </button>
    <span className="button-group">
      <button
        [ngClass]="{ 'bg-black text-white': editor.isActive('underline') }"
        (click)="editor.chain().focus().toggleUnderline().run()"
      >
      <ng-icon name="remixUnderline">Underline</ng-icon>
      </button>
    </span>
    <span className="button-group">
      <button
        (click)="editor.chain().focus().toggleSubscript().run()"
        [ngClass]="{ 'bg-black text-white': editor.isActive('subscript') }"
      >
      <ng-icon name="remixSubscript">Subscript</ng-icon>
      </button>
    </span>
    <span className="button-group">
      <button
        (click)="editor.chain().focus().toggleSuperscript().run()"
        [ngClass]="{ 'bg-black text-white': editor.isActive('superscript') }"
      >
      <ng-icon name="remixSuperscript">Superscript</ng-icon>
      </button>
    </span>
    <button
      [ngClass]="{ 'bg-black text-white': editor.isActive('horizontalrule') }"
      (click)="editor.chain().focus().setHorizontalRule().run()"
    >
    HR
    </button>
    <button
    class="rounded h-7  flex justify-center items-center px-1"
      [ngClass]="{ 'bg-black text-white': editor.isActive('listitem') }"
      (click)="editor.chain().focus().toggleOrderedList().run()"
    >
    <ng-icon name="remixListUnordered">List</ng-icon>
    </button>
      <button
        class="rounded h-7 w-7 flex justify-center items-center px-1"
        [ngClass]="{ 'bg-black text-white': editor.isActive('heading') }"
        (click)="editor.chain().focus().toggleHeading({ level: 1 }).run()"
      >
      <ng-icon name="remixH1">H1</ng-icon>
      </button>
      <button
      class="rounded h-7 w-7 flex justify-center items-center px-1"
        [ngClass]="{ 'bg-black text-white': editor.isActive('bold') }"
        (click)="editor.chain().focus().toggleBold().run()"
      >
        <ng-icon name="remixBold">Bold</ng-icon>
      </button>
      <button
      class="rounded h-7  flex justify-center items-center px-1"
        [ngClass]="{ 'bg-black text-white': editor.isActive('strike') }"
        (click)="editor.chain().focus().toggleStrike().run()"
      >
      <ng-icon name="remixStrikethrough">Strikethrough</ng-icon>
      </button>
      <button
        [ngClass]="{ 'bg-black text-white': editor.isActive('italic') }"
        (click)="editor.chain().focus().toggleItalic().run()"
      >
      <ng-icon name="remixItalic">Italic</ng-icon>
      </button>
      <button
        [ngClass]="{ 'bg-black text-white': editor.isActive('paragraph') }"
        (click)="editor.chain().focus().setParagraph().run()"
      >
      <ng-icon name="remixParagraph">Paragraph</ng-icon>
      </button>

    <span className="button-group">
      <button
        (click)="editor.chain().focus().setTextAlign('left').run()"
      >
      <ng-icon name="remixAlignLeft">Left</ng-icon>
      </button>
      <button
        (click)="editor.chain().focus().setTextAlign('center').run()"
      >
      <ng-icon name="remixAlignCenter">Center</ng-icon>
      </button>
      <button
        (click)="editor.chain().focus().setTextAlign('right').run()"
      >
      <ng-icon name="remixAlignRight">Right</ng-icon>
      </button>
    </span>
    <span className="button-group">
      <button
        (click)="editor.chain().focus().toggleCode().run()"
        [ngClass]="{ 'bg-black text-white': editor.isActive('code') }"
      >
      <ng-icon name="remixCodeLine">Code</ng-icon>
      </button>
    </span>
    <span className="button-group">
      <button
        (click)="editor.chain().focus().toggleCodeBlock().run()"
      >
      <ng-icon name="remixCodeBlock">Code Block</ng-icon>
      </button>
    </span>
    <span className="button-group" *ngIf="editor.can().undo() || editor.can().redo()">
      <button (click)="editor.chain().focus().undo().run()" *ngIf="editor.can().undo()">
        <ng-icon name="remixReplyFill">Undo</ng-icon>
      </button>
      <button (click)="editor.chain().focus().redo().run()" *ngIf="editor.can().redo()">
        <ng-icon name="remixRepeatFill">Redo</ng-icon>
      </button>
    </span>
  </span>
    <tiptap-editor
      [editor]="editor"
      name="simple-editor"
      [(ngModel)]="value"
      (ngModelChange)="handleValueChange($event)"

    ></tiptap-editor>
    <div>{{editor.storage["characterCount"].characters()}} / {{characterLimit}} characters</div>
    <h1>HTML-Output:</h1>
    <textarea name="htmlArea" [ngModelOptions]="{standalone: true}" [ngModel]="value" (ngModelChange)="handleValueChange($event)" class="w-full border-black border-2" cols="50" rows="10" autocomplete="off" (keyup)="editor.commands.setContent(($any($event.target).value))">{{value}}</textarea>
</form>
